	html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
	}

	body {
		background-color:#777;
        overflow:hidden;
        font-family: "Trebuchet MS";
	}

	.topArea {
		background-color:#444;
		text-align:center;
	}
	  
    .header {
        background-color:#444;
        color:orange;
        font-size:15pt;
        text-align:center;
        font-weight:bold;
    }
	  

	#center {
		auto-width: 100%;
		auto-height: 100%;
	}
	
	#right {
		width: 100px;
		height: 100%;
	}

	#footer {
        background-color:#444;
        color:orange;
        font-size:10pt;
        text-align:center;
	}

	.tundra .dijitContentPane {
        font-family: "Lucida Grande","Segoe UI","Arial",sans-serif;
        font-weight: normal;
        font-size: small;
	}
	
	#uploadForm {
		padding: 0px 5px 0px 0px;
		display: inline;
	}
	
	#inFile {
		display: none;
	}
	
	.btn {
		background: #3498db;
		background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
		background-image: -moz-linear-gradient(top, #3498db, #2980b9);
		background-image: -ms-linear-gradient(top, #3498db, #2980b9);
		background-image: -o-linear-gradient(top, #3498db, #2980b9);
		background-image: linear-gradient(to bottom, #3498db, #2980b9);
		-webkit-border-radius: 8;
		-moz-border-radius: 8;
		border-radius: 8px;
		font-family: Arial;
		color: #ffffff;
		font-size: 12px;
		padding: 5px 20px 5px 20px;
		text-decoration: none;
	}	

	.btn:hover {
		background: #3cb0fd;
		background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
		background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
		background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
		background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
		background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
		text-decoration: none;
	}
	
	.btn-active {
		background: #83dbb4;
		background-image: -webkit-linear-gradient(top, #83dbb4, #47ad7f);
		background-image: -moz-linear-gradient(top, #83dbb4, #47ad7f);
		background-image: -ms-linear-gradient(top, #83dbb4, #47ad7f);
		background-image: -o-linear-gradient(top, #83dbb4, #47ad7f);
		background-image: linear-gradient(to bottom, #83dbb4, #47ad7f);
		-webkit-border-radius: 8;
		-moz-border-radius: 8;
		border-radius: 8px;
		font-family: Arial;
		color: #ffffff;
		font-size: 12px;
		padding: 5px 20px 5px 20px;
		text-decoration: none;
	}
	
	
	.status-message-bad {
        font-size:12pt;
        text-align:center;
        font-weight:bold;
		background-color:#bbb;
		color:#b30000;
	}
	
	.status-message-good {
        font-size:12pt;
        text-align:center;
        font-weight:bold;
		background-color:#bbb;
		color:#00b300;
	}
	
	.status-message-neutral {
        font-size:12pt;
        text-align:center;
        font-weight:bold;
		background-color:#bbb;
		color:#010101;
	}
	
	.legendDiv {
		border-radius: 8px;
		display: block;
		padding: 10px;
		width: 230px;
		left: 89%;
		margin-left: -150px;
		height: 180px;
		top: 25%;
		margin-top: -100px;
		background: #aaa;
		z-index: 20;
		position: fixed;
	}
	
